# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite / Database
*.sqlite3
db.sqlite3

# Logs
*.log

# Editor directories and files
.vscode/
.idea/
.DS_Store
